extends layout

block content
  div(style=".center")
    h1= title
   
    form#testform(name="testform", method="POST", action="submit")
      p
        input#suite_id(name="suite_id", placeholder="suite number", type="number")
      p
        button#btnSubmit(type="submit") Get yer test cases. Many fine test cases!
